GROQ_API_KEY=your_groq_api_key_here
# PostgreSQL Database URL
DATABASE_URL=postgresql://user:password@host:port/dbname?sslmode=require

# Azure Storage Account
AZURE_STORAGE_CONNECTION_STRING=your_azure_connection_string_here
AZURE_CONTAINER_NAME=$$logs
